.root {
  padding: 4px 8px;
  max-height: 100%;
  border-right: 1px solid #ccc;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 175px;
}

.title {
  margin: 0 0 8px 0;
  border-bottom: 1px solid #ccc;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  margin: 0;
}

.category {
  cursor: pointer;
  display: flex;

  .button {
    all: unset;
    padding: 4px 8px;
    flex: 1;
  }

  &.selected {
    background-color: #7494e2;
    color: #000;
  }

  &:hover {
    background-color: #646cff;
  }
}
